<!-- <h1><%- data.page %></h1> -->
<div class="content">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="card mt-5">
                <div class="card-body">
                    <h3 class="card-title  mb-4">Cập nhật Loại</h3>
                    <form method="post" action="/editcategory">
                        <div class="mb-3">
                            <label for="tenloai" class="form-label">Tên loại</label>
                            <input type="hidden" name="idnhom" value="<%= data.category.idnhom %>">
                            <input type="text" class="form-control" id="tenloai" name="ten" placeholder="" value="<%= data.category.ten %>">
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Cập nhật Loại</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>