<div class="content col-md-6 ">

    <h2>Chào mừng bạn đến với trang quản trị</h2>

    <div class="row g-3 mb-4">
        <div class="khung-1 col-md-3">
            <div class="p-3 border bg-light">Họ và tên<br>Ái Trân</div>
        </div>
        <div class="col-md-3">
            <div class="p-3 border bg-light">Email<br>aitran@gmail.com</div>
        </div>
        <div class="col-md-3">
            <div class="p-3 border bg-light">Số điện thoại<br>123456789</div>
        </div>
        <div class="col-md-3">
            <div class="p-3 border bg-light">Địa chỉ<br>Địa chỉ của bạn</div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            <h5 class="card-title mb-0">Các điều khoản lưu ý:</h5>
        </div>
        <div class="card-body bg-primary text-white">
            <ul class="list-unstyled ">
                <li><span class="text-danger">•</span> Bạn có trách nhiệm đảm bảo rằng thông tin trên trang admin này
                    được bảo mật.</li>
                <li><span class="text-danger">•</span> Không chia sẻ thông tin đăng nhập của bạn với bất kỳ ai.</li>
                <li><span class="text-danger">•</span> Hãy đảm bảo sao lưu dữ liệu thường xuyên để tránh mất mát thông
                    tin.</li>
                <li><span class="text-danger">•</span> Liên hệ với bộ phận hỗ trợ nếu bạn gặp bất kỳ vấn đề nào khi sử
                    dụng hệ thống.</li>
                <li><span class="text-danger">•</span> Vui lòng tuân thủ các quy định và điều luật của hệ thống.</li>
                <li><span class="text-danger">•</span> Tài khoản admin chỉ được sử dụng cho mục đích quản trị, không
                    được sử dụng cho mục đích cá nhân.</li>
            </ul>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header bg-success text-white">
            <h5 class="card-title mb-0">Thông tin hữu ích</h5>
        </div>
        <div class="card-body bg-success text-white">
            <ul class="list-unstyled">
                <li><a href="#" class="text-decoration-none text-white">Hướng dẫn sử dụng</a></li>
                <li><a href="#" class="text-decoration-none text-white">Câu hỏi thường gặp</a></li>
                <li><a href="#" class="text-decoration-none text-white">Tài liệu hỗ trợ</a></li>
                <li><a href="#" class="text-decoration-none text-white">Liên hệ hỗ trợ</a></li>
            </ul>
        </div>
    </div>

    <div class="text-center bg-dark text-white mt-4">
        <a>
            &copy; 2024 Trang Admin. Tất cả các quyền được bảo lưu.
        </a>

    </div>
</div>